{% block content %}
	{% for content in entry.artBlogImages.all() %}
		<div class="artwork-blog">
			{% include "/_siteContent/" ~ content.type %}

			{% if content >= "800px "%}
				<p class="artworkBlog-text artworkBlog-text__landscape ">{{ entry.title }}</p>
			{% elseif content < "550px" %}
				<p class="artworkBlog-text artworkBlog-text__portrait ">{{ entry.title }}</p>
			{% endif %}
		</div>
	{% endfor %}

{% endblock content %}
