{% block content %}


	<div class="artwork-blog">
		{% for content in entry.artBlogImages.all() %}
			{% include "/_siteContent/" ~ content.type %}

			{% if content >= "800px "%}
				<p class="artworkBlog-text artworkBlog-text__landscape ">{{ entry.title }}</p>
			{% elseif content < "550px" %}
				<p class="artworkBlog-text artworkBlog-text__portrait ">{{ entry.title }}</p>
			{% endif %}
		{% endfor %}
	</div>

{% endblock content %}
