{% block content %}
	{% for content in entry.aboutImages.all() %}
		{% include "about/_content/" ~ content.type %}
	{% endfor %}
	<div class="artwork-blog">
		<p class="artwork-blog__text">{{ entry.title }}</p>
		<p class="artwork-blog__date"></p>
	</div>
{% endblock content %}
